:root {
    --primary-dark: #060c36;
    --primary-light: #f8f9fb;
    --accent-blue: #00abeb;
    --accent-green: #27c86a;
    --accent-yellow: #f2c610;
    --accent-red: #f12d4b;
    --display-font: 'Dosis', 'Gill Sans', system-ui;
    --text-font: 'Roboto', system-ui;
}

* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
}

html {
    font-family: var(--text-font);
    color: var(--primary-dark);
}

h1, h2, h3, h4, h5 {
    font-family: var(--display-font);
}

h2 {
    font-size: 2em;
}

body > section {
    float: left;
    height: 100vh;
    width: 250px;
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

body > section > div {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body > section > div img {
    width: 80%;
}

body > section > nav ul {
    list-style: none;
    padding: 0;
}

body > section li {
    display: block;
    padding: 1em;
}

body > section li.active {
    background-color: var(--accent-blue);
    color: var(--primary-dark);
    border-bottom: 1px solid var(--primary-light);
}

body > section a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

main {
    float: left;
    height: 100vh;
    width: 773px;
}

main > section {
    float: left;
    width: 100%;
}

main > section:first-of-type {
    height: 500px;
    position: relative;
}

main > section:first-of-type > a {
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 500;
    width: 2em;
}

main > section:last-of-type {
    height: calc(100vh - 500px);
}

#map {
    width: 773px;
    height: 500px;
}

#graph {
    position: relative;
    right: 124px;
    z-index: -1;
    bottom: 14px;
}
